name: Reusable CI – Quality, Security & Signing

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      unit-test:
        required: true
        type: string
      integration-test:
        required: true
        type: string
      code-coverage:
        required: true
        type: string
      image-ref:
        required: true
        type: string

permissions:
  contents: read    #workflow can read the repository contents (code, files). when the checkout@v4 is implemented, it can able to read the code in the repo
  packages: write   # we are pushing the docker image right, so when we use this rule, it will give permission for pushing it into a github regisrty
  id-token: write   # singin withou any having secrets (OIDC method). where it can be signed in as keyless for COSIGN

jobs:
  #pipeline:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unit test
        run: ${{ inputs.unit-test }}

      - name: Integration tests
        run: ${{ inputs.integration-test }}

      - name: Coverage gate
        run: ${{ inputs.code-coverage }}

      - name: SBOM
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          format: spdx-json
          output: sbom.json

      - name: Trivy
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          scan-ref: .
          severity: CRITICAL,HIGH
          exit-code: 1
      
      # DOCKER BUILD 
      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push #(image)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          #context: ${{ inputs.service-name }}
          #push: true
          tags: ${{ inputs.image-ref }}

      # COSIGN
      - name: Install Cosign
        uses: sigstore/cosign-installer@v3 #We use sigstore/cosign-installer@v3 because it is the current stable major version recommended by Sigstore, providing security updates without breaking changes
      - name: Sign container image
        run: cosign sign ${{ inputs.image-ref }} #We sign the container image after it’s pushed to the registry, and the signature is stored with the image so it can be verified at deployment time
        env:
          COSIGN_EXPERIMENTAL: "true" # Enables the Cosign as keyless signing using OIDC-based authentication instead of stored passwords or keys
          COSIGN_YES: "true"
